@font-face {
    font-family: NexaRegular;
    src: url('/fonts/NexaRegular.otf');
    font-weight: normal;
}

@font-face {
    font-family: NexaBold;
    src: url('/fonts/NexaBold.otf');
    font-weight: normal;
}

@font-face {
    font-family: NexaLight;
    src: url('/fonts/NexaLight.otf');
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: NexaRegular, sans-serif;
    font-weight: normal;
}

#container {
    width: 90vw;
    margin: auto;
}

h1, h2, h3 {
    font-family: NexaRegular, sans-serif;
}

.act-card {
    padding: 0.5rem 1rem;
    margin: 6rem 0.5rem;
    border-radius: 12px;
    height: 40vh;
    background-color: #ffb4b4;
}

.act-card * {
    text-align: center;
}


.quest-card {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quest-card form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .quest-card h2, h3 {
    text-align: center;
} */

#quest_rep {
    height: 30px;
    width: 100%;
    padding-left: 0.5rem;
}

.quest_btn {
    width: 50%;
    height: 30px;
    margin-top: 0.8rem;
}

.quest_img {
    width: 50%;
    text-align: center;
}

progress {
    height: 50px;
    width: 98%;
}

a {
    color: rgb(0, 149, 255);
    text-decoration: none;
}

a:hover {
    color: rgb(0, 108, 185);
}